body {
    background-color: rgb(189, 155, 112);
  }
.contenedor {
	margin: 50px auto;
	padding: 20px;
	width: 800px;
}

.separador {
	height: 1px;
	background-color: black;
	margin: 20px 0;
}

.galeria {
	display: flex;
	flex-wrap:wrap;
	justify-content: flex-end;
}

.galeria img {
	width: 30%;
    height: 150px;
	margin: 5px;
	
	border-radius: 10px;
}
