a[href$=".pdf"]::before {
			content: url("https://th.bing.com/th/id/OIP.owvWn5dJfLbpCSAqQnOyxgHaHa?pid=ImgDet&rs=1") ;
			width: 10px!important; 
			height:10px!important;
		}
		a[href$=".jpg"]::before {
			content: url("https://cdn-icons-png.flaticon.com/512/136/136524.png");
			width: 200px ;
			height: 200px ;
		}
		a[href$=".docx"]::before {
			content: url("https://play-lh.googleusercontent.com/9kABykeGovHPy-dN19lRxxnCp8IZK3Pkl8qLFNxrEe-hhKVZeiyhTBEIRUt6t-vhxQ=w240-h480-rw");
			width: 200px ;
			height: 200px ;
		}
		a[href$=".doc"]::before {
			content: url("https://play-lh.googleusercontent.com/9kABykeGovHPy-dN19lRxxnCp8IZK3Pkl8qLFNxrEe-hhKVZeiyhTBEIRUt6t-vhxQ=w240-h480-rw");
			width: 200px ;
			height: 200px ;
		}
		a[href$=".xlsx"]::before {
			content: url("https://cdn-icons-png.flaticon.com/512/28/28841.png");
			width: 200px ;
			height: 200px ;
		}
		a[href$=".xlsm"]::before {
			content: url("https://cdn-icons-png.flaticon.com/512/28/28841.png");
			width: 200px ;
			height: 200px ;
		}
		a[href$=".html"]::before {
			content: url("https://cdn-icons-png.flaticon.com/512/919/919827.png");
			width: 200px ;
			height: 200px ;
		}