body {
  background-color: #eee;
}

header {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  transition: all 0.5s ease;
  border: 2px solid black;
}

#img1 {
  top: 0;
  left: 0;
  z-index: 5;
}

#img2 {
  top: 50px;
  left: 50px;
  z-index: 4;
}

#img3 {
  top: 100px;
  left: 100px;
  z-index: 3;
}

#img4 {
  top: 150px;
  left: 150px;
  z-index: 2;
}

#img5 {
  top: 200px;
  left: 200px;
  z-index: 1;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 6;
  border-color: purple;
}

#img1:hover ~ img {
  display: none;
}

#img2:hover ~ #img3,
#img2:hover ~ #img4,
#img2:hover ~ #img5 {
  display: none;
}

#img3:hover ~ #img4,
#img3:hover ~ #img5 {
  display: none;
}

#img4:hover ~ #img5 {
  display: none;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
